Prevent attendee from updating `ORGANIZER` via PUT in others calendar (short term fix)

### Context

During integration tests, we observed that:

An attendee is able to modify the `ORGANIZER` property via a `PUT` request, and this change is propagated to the organizer's and other attendees.

This behavior is **unexpected and potentially dangerous**, as it breaks scheduling consistency.
This effectively allows an attendee to **impersonate the organizer** or alter ownership of the event.

### 📚 Expected behavior (RFC)

According to RFCs:

  * Attendees are allowed to modify *some* properties
* **RFC 6638 §3.2.4.4**: Servers **MAY restrict** which properties attendees can modify

👉 Therefore: `ORGANIZER` **must not be modifiable by attendees via PUT**


### Proposed behavior

When an attendee sends a `PUT` request modifying `ORGANIZER`:

#### Case 1 — Different organizer

```ics
ORGANIZER:mailto:alice@example.com
→ mailto:bob@example.com
```

👉 **Reject request** (e.g. 403)

#### Case 2 — Same organizer but different formatting

```ics
ORGANIZER:mailto:bob@example.com
→ mailto:BOB@example.com
```

👉 **Normalize to ignore** (do not reject)

### Related

- https://github.com/linagora/twake-calendar-integration-tests
- https://github.com/linagora/esn-sabre/issues/317



Are we confident we can timely patch this in Sabre and target full RFC conformance?

I would rather prefer a short term fix simply in the side service (not propagating ORGANIZER changes) for now and that's it.

We would come back to RFC-6638 conformance later IMO, it's a MUCH larger story. There's more fields. We need not to overwrite user custom fields. It's complex. It's in Sabre - I would like we work on one topic at a time on Sabre side.

Is this understood and ok to you @vttranlina ?  Are you able to organize both the short term and long term move in tickets or do you want me to do this for you?

I understand that the idea is add logic in `ItipLocalConsumer`?
it ok to me



> I understand that the idea is add logic in ItipLocalConsumer?

Yes that's the short term fix !

https://github.com/linagora/twake-calendar-side-service/pull/706